<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myCountry" placeholder="Country" />
  </div>
  <input type="submit" />
  <div class="autocomplete-active">
    prashant
  </div>
  <div class="autocomplete-active">
    prashant
  </div>
  <div class="autocomplete-active">
    prashant
  </div>
  <div class="autocomplete-active">
    prashant
  </div>
  <div class="autocomplete-active">
    prashant
  </div>
</form>
