<aside class="">
  <div class="widget">
    <div class="tree_widget-sec">
      <ul>
        <li>
          <a href="applicant-dashboard" title=""><i class="la la-dashboard"></i>Dashboard</a>
        </li>
        <li>
          <a href="my-resume" title=""><i class="la la-briefcase"></i>My Resume</a>
        </li>
        <li>
          <a href="shortlisted-jobs" title=""><i class="la la-money"></i>Shorlisted Job</a>
        </li>
        <li>
          <a href="applied-jobs" title=""><i class="la la-paper-plane"></i>Applied Job</a>
        </li>
        <li>
          <a href="change-password" title=""><i class="la la-lock"></i>Change Password</a>
        </li>
        <li>
          <a href="#" title=""><i class="la la-unlink"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</aside>