<app-header-all></app-header-all>
<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3>Add Assessment</h3>
                            <span>Add Assessment Details</span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a href="/" title="">Home</a></li>
                                <li><a href="#" title="">Add-Assessment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="body">
    <div class="container">
        <app-add-question></app-add-question>
    </div>
    <div class="container">
        <app-show-assessments></app-show-assessments>
    </div>
</section>

<app-footer></app-footer>