.parallax-back {
  background: url(/assets/images/resource/parallax2.jpg) repeat scroll 50%
    422.28px transparent;
}
.autocomplete-myitems {
  position: absolute;
  top: 70px;
  left: 0px;
  background: white;
  width: 250px;
  text-align: center;
  z-index: 99;
  border: 1px solid #e5e5e5;
}
.autocomplete-li {
  border-top: 1px solid #6f717d;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .autocomplete-myitems {
    position: absolute;
    top: 70px;
    left: 0px;
    background: white;
    width: 450px;
    text-align: center;
    z-index: 99;
    border: 1px solid #e5e5e5;
  }
  #location {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  #location {
    width: 100% !important;
  }
}
#location {
  width: 364px;
  border-radius: 0;
  position: initial;
  height: 60px;
  margin-top: 0px;
}

.background-black-blur {
  height: 872px;
  background: black;
  opacity: 0.6;
}
.background-img {
  background: url(/assets/images/resource/bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.auto-font {
  font-family: auto !important;
}
