<app-header-home></app-header-home>
<section>
	<div class="block double-gap-top double-gap-bottom background-img">
		<div class="layer blackish"></div><!-- PARALLAX BACKGROUND IMAGE -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-location-sec">
						<h3 class="auto-font"><strong class="auto-font">Great Job</strong> Greater Talent</h3>
						<form autocomplete="off" [formGroup]="SearchForm">
							<div class="field-lct">
								<input type="text" formControlName="keywords"  id="keyword" placeholder="Search Keywords" />
							</div>
							<div class="field-lct dropdown-field">
								<!-- <input formControlName="location" id="location" type="text" placeholder="Location" /> -->
								<select id="location" class="browser-default custom-select">
									<option disabled [selected]="true">Location</option>
									<option>Hyderabad</option>
									<option>Bangalore</option>
									<option>Chennai</option>
							
								</select>							
							</div>
							<button type="button" (click)="onClickSearch()"><i class="la la-search"></i></button>							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Recent Jobs</h2>
							<span>Leading Employers already using job and talent.</span>
						</div><!-- Heading -->
						<div class="job-grid-sec">
							<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="assets/images/resource/jg1.png" alt="" /> </div>
											<h3><a href="#" title="">Web Designer / Developer</a></h3>
											<span>Massimo Artemisis</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a  href="#" title="">APPLY NOW</a>
									</div><!-- JOB Grid -->
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="assets/images/resource/jg2.png" alt="" /> </div>
											<h3><a href="#" title="">Marketing Director</a></h3>
											<span>Massimo Artemisis</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a  href="#" title="">APPLY NOW</a>
									</div><!-- JOB Grid -->
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="assets/images/resource/jg3.png" alt="" /> </div>
											<h3><a href="#" title="">Application Developer For Android</a></h3>
											<span>Altes Bank</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a  href="#" title="">APPLY NOW</a>
									</div><!-- JOB Grid -->
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="assets/images/resource/jg4.png" alt="" /> </div>
											<h3><a href="#" title="">Web Designer / Developer</a></h3>
											<span>Massimo Artemisis</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a  href="#" title="">APPLY NOW</a>
									</div><!-- JOB Grid -->
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="assets/images/resource/jg5.png" alt="" /> </div>
											<h3><a href="#" title="">Web Designer / Developer</a></h3>
											<span>MediaLab</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a  href="#" title="">APPLY NOW</a>
									</div><!-- JOB Grid -->
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid">
										<div class="job-title-sec">
											<div class="c-logo"> <img src="assets/images/resource/jg6.png" alt="" /> </div>
											<h3><a href="#" title="">Web Designer / Developer</a></h3>
											<span>StarHealth</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">Sacramento, California</span>
										<a  href="#" title="">APPLY NOW</a>
									</div><!-- JOB Grid -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="browse-all-cat">
							<a href="#" title="" class="style2">Load more listings</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>How It Works</h2>
							<span>Each month, more than 7 million Jobhunt turn to website in their search for work, making over <br />160,000 applications every day.
							</span>
						</div><!-- Heading -->
						<div class="how-to-sec">
							<div class="how-to">
								<span class="how-icon"><i class="la la-user"></i></span>
								<h3>Register an account</h3>
								<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
							</div>
							<div class="how-to">
								<span class="how-icon"><i class="la la-file-archive-o"></i></span>
								<h3>Specify & search your job</h3>
								<p>Browse profiles, reviews, and proposals then interview top candidates. </p>
							</div>
							<div class="how-to">
								<span class="how-icon"><i class="la la-list"></i></span>
								<h3>Apply for job</h3>
								<p>Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Top Company Registered</h2>
							<span>Some of the companies we've helped recruit excellent applicants over the years.</span>
						</div><!-- Heading -->
						<div class="top-company-sec">
							<div class="row" id="companies-carousel">
								<div class="col-lg-3">
									<div class="top-compnay">
										<img src="assets/images/resource/tc1.jpg" alt="" />
										<h3><a href="#" title="">Symtech</a></h3>
										<span>United States, Los Angeles</span>
										<a href="#" title="">4 Open Positon</a>
									</div><!-- Top Company -->
								</div>
								<div class="col-lg-3">
									<div class="top-compnay">
										<img src="assets/images/resource/tc2.jpg" alt="" />
										<h3><a href="#" title="">Symtech</a></h3>
										<span>United States, Los Angeles</span>
										<a href="#" title="">4 Open Positon</a>
									</div><!-- Top Company -->
								</div>
								<div class="col-lg-3">
									<div class="top-compnay">
										<img src="assets/images/resource/tc3.jpg" alt="" />
										<h3><a href="#" title="">Symtech</a></h3>
										<span>United States, Los Angeles</span>
										<a href="#" title="">4 Open Positon</a>
									</div><!-- Top Company -->
								</div>
								<div class="col-lg-3">
									<div class="top-compnay">
										<img src="assets/images/resource/tc4.jpg" alt="" />
										<h3><a href="#" title="">Symtech</a></h3>
										<span>United States, Los Angeles</span>
										<a href="#" title="">4 Open Positon</a>
									</div><!-- Top Company -->
								</div>
								<div class="col-lg-3">
									<div class="top-compnay">
										<img src="assets/images/resource/tc2.jpg" alt="" />
										<h3><a href="#" title="">Symtech</a></h3>
										<span>United States, Los Angeles</span>
										<a href="#" title="">4 Open Positon</a>
									</div><!-- Top Company -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<section>
		<div class="block">
			<div data-velocity="-.1" class="parallax scrolly-invisible layer color red parallax-back"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading light">
							<h2>Projob Site Stats</h2>
							<span>Here we list our site stats and how many people we’ve helped find a job and companies have found <br />recruits. It's a pretty awesome stats area!</span>
						</div><!-- Heading -->
						<div class="stats-sec">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="stats">
										<span>18</span>
										<h5>Jobs Posted</h5>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="stats">
										<span>38</span>
										<h5>Jobs Filled</h5>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="stats">
										<span>67</span>
										<h5>Companies</h5>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="stats">
										<span>92</span>
										<h5>Members</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="subscription-sec">
							<div class="row">
								<div class="col-lg-6">
									<h3>Still Need Help ?</h3>
									<span>Let us now about your issue and a Professional will reach you out.</span>
								</div>
								<div class="col-lg-6">
									<form>
										<input type="text" placeholder="Enter Valid Email Address" />
										<button type="submit"><i class="la la-paper-plane"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="social-links">
							<a href="#" title="" class="fb-color"><i class="fa fa-facebook"></i> Facebook</a>
							<a href="#" title="" class="tw-color"><i class="fa fa-twitter"></i> Twitter</a>
							<a href="#" title="" class="in-color"><i class="fa fa-instagram"></i> Instagram</a>
							<a href="#" title="" class="pt-color"><i class="fa fa-pinterest"></i> Pinterest</a>
							<a href="#" title="" class="dr-color"><i class="la la-dribbble"></i> Dribbble</a>
							<a href="#" title="" class="gl-color"><i class="la la-google"></i> Google</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<app-footer></app-footer>
	<app-login-modal></app-login-modal>
