<!-- The Modal -->
<div class="modal" id="myProjectModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Projects</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <h5 class="response">{{response}}</h5>
            <div class="modal-body">
                <div class="border-title">
                    <h3>Projects</h3>
                </div>
                <form [formGroup]="AddProjectsForm" (ngSubmit)="onSubmit($event)" novalidate>
                    <div class="resumeadd-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="pf-title">Title</span>
                                <div class="pf-field">
                                    <input type="text" class="browser-default custom-select" [ngClass]="{
                                                      'feild-error':
                                                        isSubmitted && f.title.errors?.required
                                                    }" formControlName="title" id="title"
                                        placeholder="Title of the project" />

                                </div>
                                <div class="error" *ngIf="isSubmitted && f.title.errors?.required">
                                    <small>Required</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title">From Date</span>
                                <div class="pf-field">
                                    <input [ngClass]="{
                                                      'feild-error':
                                                        isSubmitted && f.from_date.errors?.required
                                                    }" placeholder="eg 01-01-2015" formControlName="from_date"
                                        type="date" class="form-control datepicker">
                                </div>
                                <div class="error" *ngIf="isSubmitted && f.from_date.errors?.required">
                                    <small>Required</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <span class="pf-title">To Date</span>
                                <div class="pf-field">
                                    <input placeholder="eg 01-01-2015" formControlName="to_date" type="date"
                                        class="form-control datepicker" [ngClass]="{
                                                      'feild-error':
                                                        isSubmitted && f.to_date.errors?.required
                                                    }" />
                                </div>
                                <div class="error" *ngIf="isSubmitted && f.to_date.errors?.required">
                                    <small>Required</small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="pf-title">Company</span>
                                <div class="pf-field">
                                    <input placeholder="Company" formControlName="company" type="text"
                                        class="form-control datepicker" [ngClass]="{
                                                      'feild-error':
                                                        isSubmitted && f.company.errors?.required
                                                    }" />
                                </div>
                                <div class="error" *ngIf="isSubmitted && f.company.errors?.required">
                                    <small>Required</small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="pf-title">Description</span>
                                <div class="pf-field">
                                    <textarea formControlName="description" [ngClass]="{
                                                                                  'feild-error':
                                                                                    isSubmitted && f.description.errors?.required
                                                                                }"></textarea>
                                </div>
                                <div class="error" *ngIf="isSubmitted && f.description.errors?.required">
                                    <small>Required</small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit">{{button_save}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>